<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>VI</display-name>
  <servlet>
    <servlet-name>InstallServlet</servlet-name>
    <servlet-class>service.InstallServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstallServlet</servlet-name>
    <url-pattern>/InstallServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginAdminServlet</servlet-name>
    <servlet-class>service.LoginAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdminServlet</servlet-name>
    <url-pattern>/LoginAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginStudentServlet</servlet-name>
    <servlet-class>service.LoginStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginStudentServlet</servlet-name>
    <url-pattern>/LoginStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginTeacherServlet</servlet-name>
    <servlet-class>service.LoginTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginTeacherServlet</servlet-name>
    <url-pattern>/LoginTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterParentServlet</servlet-name>
    <servlet-class>service.RegisterParentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterParentServlet</servlet-name>
    <url-pattern>/RegisterParentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterStudentServlet</servlet-name>
    <servlet-class>service.RegisterStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterStudentServlet</servlet-name>
    <url-pattern>/RegisterStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterTeacherServlet</servlet-name>
    <servlet-class>service.RegisterTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterTeacherServlet</servlet-name>
    <url-pattern>/RegisterTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllParentsServlet</servlet-name>
    <servlet-class>service.GetAllParentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllParentsServlet</servlet-name>
    <url-pattern>/GetAllParentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllBranchesServlet</servlet-name>
    <servlet-class>service.GetAllBranchesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllBranchesServlet</servlet-name>
    <url-pattern>/GetAllBranchesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllStudentsServlet</servlet-name>
    <servlet-class>service.GetAllStudentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllStudentsServlet</servlet-name>
    <url-pattern>/GetAllStudentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllTeachersServlet</servlet-name>
    <servlet-class>service.GetAllTeachersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllTeachersServlet</servlet-name>
    <url-pattern>/GetAllTeachersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateParentServlet</servlet-name>
    <servlet-class>service.UpdateParentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateParentServlet</servlet-name>
    <url-pattern>/UpdateParentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>service.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/UpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateTeacherServlet</servlet-name>
    <servlet-class>service.UpdateTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTeacherServlet</servlet-name>
    <url-pattern>/UpdateTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAttendancesByClassroom</servlet-name>
    <servlet-class>service.GetAttendancesByClassroom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAttendancesByClassroom</servlet-name>
    <url-pattern>/GetAttendancesByClassroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAttendancesByStudent</servlet-name>
    <servlet-class>service.GetAttendancesByStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAttendancesByStudent</servlet-name>
    <url-pattern>/GetAttendancesByStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAttendancesByCourse</servlet-name>
    <servlet-class>service.GetAttendancesByCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAttendancesByCourse</servlet-name>
    <url-pattern>/GetAttendancesByCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAdminByBranch</servlet-name>
    <servlet-class>service.GetAdminByBranch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAdminByBranch</servlet-name>
    <url-pattern>/GetAdminByBranch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBillsByStudent</servlet-name>
    <servlet-class>service.GetBillsByStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBillsByStudent</servlet-name>
    <url-pattern>/GetBillsByStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBranchByBranchManager</servlet-name>
    <servlet-class>service.GetBranchByBranchManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBranchByBranchManager</servlet-name>
    <url-pattern>/GetBranchByBranchManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBranchByClassroom</servlet-name>
    <servlet-class>service.GetBranchByClassroom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBranchByClassroom</servlet-name>
    <url-pattern>/GetBranchByClassroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBranchByStudent</servlet-name>
    <servlet-class>service.GetBranchByStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBranchByStudent</servlet-name>
    <url-pattern>/GetBranchByStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBranchByTeacher</servlet-name>
    <servlet-class>service.GetBranchByTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBranchByTeacher</servlet-name>
    <url-pattern>/GetBranchByTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBranchesByAdmin</servlet-name>
    <servlet-class>service.GetBranchesByAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBranchesByAdmin</servlet-name>
    <url-pattern>/GetBranchesByAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBranchManagersByBranch</servlet-name>
    <servlet-class>service.GetBranchManagersByBranch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBranchManagersByBranch</servlet-name>
    <url-pattern>/GetBranchManagersByBranch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetClassroomByAttendance</servlet-name>
    <servlet-class>service.GetClassroomByAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetClassroomByAttendance</servlet-name>
    <url-pattern>/GetClassroomByAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetClassroomsByBranch</servlet-name>
    <servlet-class>service.GetClassroomsByBranch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetClassroomsByBranch</servlet-name>
    <url-pattern>/GetClassroomsByBranch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCourseByAttendance</servlet-name>
    <servlet-class>service.GetCourseByAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCourseByAttendance</servlet-name>
    <url-pattern>/GetCourseByAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCourseByResult</servlet-name>
    <servlet-class>service.GetCourseByResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCourseByResult</servlet-name>
    <url-pattern>/GetCourseByResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCoursesByTeacher</servlet-name>
    <servlet-class>service.GetCoursesByTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCoursesByTeacher</servlet-name>
    <url-pattern>/GetCoursesByTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetResultsByStudent</servlet-name>
    <servlet-class>service.GetResultsByStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetResultsByStudent</servlet-name>
    <url-pattern>/GetResultsByStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSalariesByTeacher</servlet-name>
    <servlet-class>service.GetSalariesByTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSalariesByTeacher</servlet-name>
    <url-pattern>/GetSalariesByTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStudentByAttendance</servlet-name>
    <servlet-class>service.GetStudentByAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentByAttendance</servlet-name>
    <url-pattern>/GetStudentByAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStudentByBill</servlet-name>
    <servlet-class>service.GetStudentByBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentByBill</servlet-name>
    <url-pattern>/GetStudentByBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStudentByResult</servlet-name>
    <servlet-class>service.GetStudentByResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentByResult</servlet-name>
    <url-pattern>/GetStudentByResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStudentsByBranch</servlet-name>
    <servlet-class>service.GetStudentsByBranch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentsByBranch</servlet-name>
    <url-pattern>/GetStudentsByBranch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStudentsByParent</servlet-name>
    <servlet-class>service.GetStudentsByParent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentsByParent</servlet-name>
    <url-pattern>/GetStudentsByParent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetTeacherByCourse</servlet-name>
    <servlet-class>service.GetTeacherByCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTeacherByCourse</servlet-name>
    <url-pattern>/GetTeacherByCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetTeacherBySalary</servlet-name>
    <servlet-class>service.GetTeacherBySalary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTeacherBySalary</servlet-name>
    <url-pattern>/GetTeacherBySalary</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetTeachersByBranch</servlet-name>
    <servlet-class>service.GetTeachersByBranch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTeachersByBranch</servlet-name>
    <url-pattern>/GetTeachersByBranch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStudentById</servlet-name>
    <servlet-class>service.GetStudentById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentById</servlet-name>
    <url-pattern>/GetStudentById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetParentByStudent</servlet-name>
    <servlet-class>service.GetParentByStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetParentByStudent</servlet-name>
    <url-pattern>/GetParentByStudent</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>