<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>VI</display-name>
  <servlet>
    <servlet-name>InstallServlet</servlet-name>
    <servlet-class>service.InstallServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstallServlet</servlet-name>
    <url-pattern>/InstallServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateAttendanceServlet</servlet-name>
    <servlet-class>service.CreateAttendanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAttendanceServlet</servlet-name>
    <url-pattern>/CreateAttendanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateClassroomServlet</servlet-name>
    <servlet-class>service.CreateClassroomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateClassroomServlet</servlet-name>
    <url-pattern>/CreateClassroomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateScheduleServlet</servlet-name>
    <servlet-class>service.CreateScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateScheduleServlet</servlet-name>
    <url-pattern>/CreateScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateTeacherFeedbackServlet</servlet-name>
    <servlet-class>service.CreateTeacherFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTeacherFeedbackServlet</servlet-name>
    <url-pattern>/CreateTeacherFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteParentServlet</servlet-name>
    <servlet-class>service.DeleteParentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteParentServlet</servlet-name>
    <url-pattern>/DeleteParentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteScheduleServlet</servlet-name>
    <servlet-class>service.DeleteScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteScheduleServlet</servlet-name>
    <url-pattern>/DeleteScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>service.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/DeleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteTeacherServlet</servlet-name>
    <servlet-class>service.DeleteTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTeacherServlet</servlet-name>
    <url-pattern>/DeleteTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GenerateResultServlet</servlet-name>
    <servlet-class>service.GenerateResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateResultServlet</servlet-name>
    <url-pattern>/GenerateResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAdminByBranch</servlet-name>
    <servlet-class>service.GetAdminByBranch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAdminByBranch</servlet-name>
    <url-pattern>/GetAdminByBranch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllBillsServlet</servlet-name>
    <servlet-class>service.GetAllBillsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllBillsServlet</servlet-name>
    <url-pattern>/GetAllBillsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllBranchesServlet</servlet-name>
    <servlet-class>service.GetAllBranchesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllBranchesServlet</servlet-name>
    <url-pattern>/GetAllBranchesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllBranchManagersServlet</servlet-name>
    <servlet-class>service.GetAllBranchManagersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllBranchManagersServlet</servlet-name>
    <url-pattern>/GetAllBranchManagersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllCoursesServlet</servlet-name>
    <servlet-class>service.GetAllCoursesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllCoursesServlet</servlet-name>
    <url-pattern>/GetAllCoursesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllParentsServlet</servlet-name>
    <servlet-class>service.GetAllParentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllParentsServlet</servlet-name>
    <url-pattern>/GetAllParentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllSalarysServlet</servlet-name>
    <servlet-class>service.GetAllSalarysServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllSalarysServlet</servlet-name>
    <url-pattern>/GetAllSalarysServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllStudentsServlet</servlet-name>
    <servlet-class>service.GetAllStudentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllStudentsServlet</servlet-name>
    <url-pattern>/GetAllStudentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllTeachersServlet</servlet-name>
    <servlet-class>service.GetAllTeachersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllTeachersServlet</servlet-name>
    <url-pattern>/GetAllTeachersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAttendancesByStudentServlet</servlet-name>
    <servlet-class>service.GetAttendancesByStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAttendancesByStudentServlet</servlet-name>
    <url-pattern>/GetAttendancesByStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAttendancesByStudentAndScheduleServlet</servlet-name>
    <servlet-class>service.GetAttendancesByStudentAndScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAttendancesByStudentAndScheduleServlet</servlet-name>
    <url-pattern>/GetAttendancesByStudentAndScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBillsByStudentServlet</servlet-name>
    <servlet-class>service.GetBillsByStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBillsByStudentServlet</servlet-name>
    <url-pattern>/GetBillsByStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBranchByBranchManager</servlet-name>
    <servlet-class>service.GetBranchByBranchManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBranchByBranchManager</servlet-name>
    <url-pattern>/GetBranchByBranchManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBranchByClassroom</servlet-name>
    <servlet-class>service.GetBranchByClassroom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBranchByClassroom</servlet-name>
    <url-pattern>/GetBranchByClassroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBranchByStudent</servlet-name>
    <servlet-class>service.GetBranchByStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBranchByStudent</servlet-name>
    <url-pattern>/GetBranchByStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBranchByTeacher</servlet-name>
    <servlet-class>service.GetBranchByTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBranchByTeacher</servlet-name>
    <url-pattern>/GetBranchByTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBranchCoursesByBranchServlet</servlet-name>
    <servlet-class>service.GetBranchCoursesByBranchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBranchCoursesByBranchServlet</servlet-name>
    <url-pattern>/GetBranchCoursesByBranchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBranchesByAdminServlet</servlet-name>
    <servlet-class>service.GetBranchesByAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBranchesByAdminServlet</servlet-name>
    <url-pattern>/GetBranchesByAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBranchManagersByBranchServlet</servlet-name>
    <servlet-class>service.GetBranchManagersByBranchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBranchManagersByBranchServlet</servlet-name>
    <url-pattern>/GetBranchManagersByBranchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetClassroomByAttendance</servlet-name>
    <servlet-class>service.GetClassroomByAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetClassroomByAttendance</servlet-name>
    <url-pattern>/GetClassroomByAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetClassroomsByBranchServlet</servlet-name>
    <servlet-class>service.GetClassroomsByBranchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetClassroomsByBranchServlet</servlet-name>
    <url-pattern>/GetClassroomsByBranchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCoursesByTeacherServlet</servlet-name>
    <servlet-class>service.GetCoursesByTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCoursesByTeacherServlet</servlet-name>
    <url-pattern>/GetCoursesByTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetDiagnosticsByStudentServlet</servlet-name>
    <servlet-class>service.GetDiagnosticsByStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDiagnosticsByStudentServlet</servlet-name>
    <url-pattern>/GetDiagnosticsByStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetFeedbacksByStudentServlet</servlet-name>
    <servlet-class>service.GetFeedbacksByStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFeedbacksByStudentServlet</servlet-name>
    <url-pattern>/GetFeedbacksByStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetFeedbacksByTeacherAndStudentServlet</servlet-name>
    <servlet-class>service.GetFeedbacksByTeacherAndStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFeedbacksByTeacherAndStudentServlet</servlet-name>
    <url-pattern>/GetFeedbacksByTeacherAndStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetParentById</servlet-name>
    <servlet-class>service.GetParentById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetParentById</servlet-name>
    <url-pattern>/GetParentById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetParentsByBranchServlet</servlet-name>
    <servlet-class>service.GetParentsByBranchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetParentsByBranchServlet</servlet-name>
    <url-pattern>/GetParentsByBranchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetResultsByStudent</servlet-name>
    <servlet-class>service.GetResultsByStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetResultsByStudent</servlet-name>
    <url-pattern>/GetResultsByStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetResultsByTeacherCourseServlet</servlet-name>
    <servlet-class>service.GetResultsByTeacherCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetResultsByTeacherCourseServlet</servlet-name>
    <url-pattern>/GetResultsByTeacherCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSalariesByTeacher</servlet-name>
    <servlet-class>service.GetSalariesByTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSalariesByTeacher</servlet-name>
    <url-pattern>/GetSalariesByTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStudentByAttendance</servlet-name>
    <servlet-class>service.GetStudentByAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentByAttendance</servlet-name>
    <url-pattern>/GetStudentByAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStudentByBill</servlet-name>
    <servlet-class>service.GetStudentByBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentByBill</servlet-name>
    <url-pattern>/GetStudentByBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStudentById</servlet-name>
    <servlet-class>service.GetStudentById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentById</servlet-name>
    <url-pattern>/GetStudentById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStudentByResult</servlet-name>
    <servlet-class>service.GetStudentByResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentByResult</servlet-name>
    <url-pattern>/GetStudentByResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStudentsByBranchServlet</servlet-name>
    <servlet-class>service.GetStudentsByBranchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentsByBranchServlet</servlet-name>
    <url-pattern>/GetStudentsByBranchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStudentsByParent</servlet-name>
    <servlet-class>service.GetStudentsByParent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentsByParent</servlet-name>
    <url-pattern>/GetStudentsByParent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStudentsByTeacherAndCourseServlet</servlet-name>
    <servlet-class>service.GetStudentsByTeacherAndCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentsByTeacherAndCourseServlet</servlet-name>
    <url-pattern>/GetStudentsByTeacherAndCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSchedulesByBranchServlet</servlet-name>
    <servlet-class>service.GetSchedulesByBranchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSchedulesByBranchServlet</servlet-name>
    <url-pattern>/GetSchedulesByBranchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSchedulesByCourseName</servlet-name>
    <servlet-class>service.GetSchedulesByCourseName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSchedulesByCourseName</servlet-name>
    <url-pattern>/GetSchedulesByCourseName</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSchedulesByCourseServlet</servlet-name>
    <servlet-class>service.GetSchedulesByCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSchedulesByCourseServlet</servlet-name>
    <url-pattern>/GetSchedulesByCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSchedulesByTeacherAndCourseServlet</servlet-name>
    <servlet-class>service.GetSchedulesByTeacherAndCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSchedulesByTeacherAndCourseServlet</servlet-name>
    <url-pattern>/GetSchedulesByTeacherAndCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSchedulesByTeacherServlet</servlet-name>
    <servlet-class>service.GetSchedulesByTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSchedulesByTeacherServlet</servlet-name>
    <url-pattern>/GetSchedulesByTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetTeacherById</servlet-name>
    <servlet-class>service.GetTeacherById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTeacherById</servlet-name>
    <url-pattern>/GetTeacherById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetTeacherBySalary</servlet-name>
    <servlet-class>service.GetTeacherBySalary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTeacherBySalary</servlet-name>
    <url-pattern>/GetTeacherBySalary</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetTeachersByBranchServlet</servlet-name>
    <servlet-class>service.GetTeachersByBranchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTeachersByBranchServlet</servlet-name>
    <url-pattern>/GetTeachersByBranchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginAdminServlet</servlet-name>
    <servlet-class>service.LoginAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdminServlet</servlet-name>
    <url-pattern>/LoginAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginBranchManagerServlet</servlet-name>
    <servlet-class>service.LoginBranchManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginBranchManagerServlet</servlet-name>
    <url-pattern>/LoginBranchManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginParentServlet</servlet-name>
    <servlet-class>service.LoginParentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginParentServlet</servlet-name>
    <url-pattern>/LoginParentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginTeacherServlet</servlet-name>
    <servlet-class>service.LoginTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginTeacherServlet</servlet-name>
    <url-pattern>/LoginTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetTeacherCoursesByTeacher</servlet-name>
    <servlet-class>service.GetTeacherCoursesByTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTeacherCoursesByTeacher</servlet-name>
    <url-pattern>/GetTeacherCoursesByTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetTeacherCoursesByBranchServlet</servlet-name>
    <servlet-class>service.GetTeacherCoursesByBranchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTeacherCoursesByBranchServlet</servlet-name>
    <url-pattern>/GetTeacherCoursesByBranchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetTeacherByPointEvent</servlet-name>
    <servlet-class>service.GetTeacherByPointEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTeacherByPointEvent</servlet-name>
    <url-pattern>/GetTeacherByPointEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetTeacherByTeacherCourse</servlet-name>
    <servlet-class>service.GetTeacherByTeacherCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTeacherByTeacherCourse</servlet-name>
    <url-pattern>/GetTeacherByTeacherCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStudentByPointEvent</servlet-name>
    <servlet-class>service.GetStudentByPointEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentByPointEvent</servlet-name>
    <url-pattern>/GetStudentByPointEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPointEventsByStudent</servlet-name>
    <servlet-class>service.GetPointEventsByStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPointEventsByStudent</servlet-name>
    <url-pattern>/GetPointEventsByStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPointEventsByTeacher</servlet-name>
    <servlet-class>service.GetPointEventsByTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPointEventsByTeacher</servlet-name>
    <url-pattern>/GetPointEventsByTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterParentServlet</servlet-name>
    <servlet-class>service.RegisterParentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterParentServlet</servlet-name>
    <url-pattern>/RegisterParentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterStudentServlet</servlet-name>
    <servlet-class>service.RegisterStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterStudentServlet</servlet-name>
    <url-pattern>/RegisterStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterTeacherServlet</servlet-name>
    <servlet-class>service.RegisterTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterTeacherServlet</servlet-name>
    <url-pattern>/RegisterTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateAttendanceServlet</servlet-name>
    <servlet-class>service.UpdateAttendanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAttendanceServlet</servlet-name>
    <url-pattern>/UpdateAttendanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateAttendanceWithQRServlet</servlet-name>
    <servlet-class>service.UpdateAttendanceWithQRServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAttendanceWithQRServlet</servlet-name>
    <url-pattern>/UpdateAttendanceWithQRServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateBillServlet</servlet-name>
    <servlet-class>service.UpdateBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBillServlet</servlet-name>
    <url-pattern>/UpdateBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateBranchServlet</servlet-name>
    <servlet-class>service.UpdateBranchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBranchServlet</servlet-name>
    <url-pattern>/UpdateBranchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateBranchManagerServlet</servlet-name>
    <servlet-class>service.UpdateBranchManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBranchManagerServlet</servlet-name>
    <url-pattern>/UpdateBranchManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateClassroomServlet</servlet-name>
    <servlet-class>service.UpdateClassroomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateClassroomServlet</servlet-name>
    <url-pattern>/UpdateClassroomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCourseServlet</servlet-name>
    <servlet-class>service.UpdateCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCourseServlet</servlet-name>
    <url-pattern>/UpdateCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateParentServlet</servlet-name>
    <servlet-class>service.UpdateParentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateParentServlet</servlet-name>
    <url-pattern>/UpdateParentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePointEventServlet</servlet-name>
    <servlet-class>service.UpdatePointEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePointEventServlet</servlet-name>
    <url-pattern>/UpdatePointEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateResultServlet</servlet-name>
    <servlet-class>service.UpdateResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateResultServlet</servlet-name>
    <url-pattern>/UpdateResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>service.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/UpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateSalaryServlet</servlet-name>
    <servlet-class>service.UpdateSalaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSalaryServlet</servlet-name>
    <url-pattern>/UpdateSalaryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateScheduleServlet</servlet-name>
    <servlet-class>service.UpdateScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateScheduleServlet</servlet-name>
    <url-pattern>/UpdateScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateTeacherServlet</servlet-name>
    <servlet-class>service.UpdateTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTeacherServlet</servlet-name>
    <url-pattern>/UpdateTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateTeacherCourseServlet</servlet-name>
    <servlet-class>service.UpdateTeacherCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTeacherCourseServlet</servlet-name>
    <url-pattern>/UpdateTeacherCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendEmailServlet</servlet-name>
    <servlet-class>service.system.SendEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendEmailServlet</servlet-name>
    <url-pattern>/system/SendEmailServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>landingPage.html</welcome-file>
    <welcome-file>landingPage.htm</welcome-file>
    <welcome-file>landingPage.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>